@font-face {
  font-family: 'NanumYeorAHobEuiBanJjagIm';
  src:
    url('../assets/fonts/subset-NanumYeorAHobEuiBanJjagIm.woff2')
      format('woff2'),
    url('../assets/fonts/subset-NanumYeorAHobEuiBanJjagIm.woff') format('woff'),
    url('../assets/fonts/subset-NanumYeorAHobEuiBanJjagIm.ttf')
      format('truetype');
  font-display: fallback;
}
